[Unit]
Description=WebStack Project: Simple Mail Merge
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/simple-mail-merge
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind :5000 api.v1.app:app
StandardError=file:/tmp/api-error.log
StandardOutput=file:/tmp/api-access.log

[Install]
WantedBy=multi-user.target